$icomoon-font-family: "metro" !default;
$icomoon-font-path: "fonts" !default;

$icon-minus-box: "\e904";
$icon-add-box: "\e905";
$icon-calendar: "\e903";
$icon-bell: "\e900";
$icon-download: "\e901";
$icon-arrow-down: "\e902";

