.upload {
  font-weight: bold;
  color      : #28a745;
  margin-left: 15px;
  line-height: 36px;
}

.dropZone {
  height     : 400px;
  width      : 400px;
  margin     : auto;
  align-items: center;
  border     : dotted gray;
  text-align : center;
}

.plus:hover {
  cursor: pointer;
}

.tree-table-wrapper {
  .table {
    td {
      padding: 5px
    }
  }
}

.wrapword {
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap  : break-word;
  white-space: -webkit-pre-wrap;
  word-break : break-all;
  white-space: normal;
}

.table.table-primary tr th {
    padding: 0.15rem 0.25rem;
}
