// Header area style
.navbar-nav {
    .nav-item {
        &:not(:last-child) {
            .nav-link {
                margin: 0 1rem;
            }
        }
    }
}
.nav-link {
    font-weight: 500;
    font-size: 13px;

    &.active {
        color: $link-active-color;
    }
}

.profile-img {
    width: 38px;
    height: 38px;
    border-radius: $rounded-circle;
    overflow: hidden;
}

.navbar-brand {
    img {
        max-width: 90px;
    }
}