<div>
    <div class="modal-header">
        <h6 class="modal-title">Change Passsword</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>

    <div #modelBody class="modal-body" [formGroup]="changePasswordForm">
        <div class="row g-3">
            <div>
                <input class="form-control" formControlName="password" type="password" placeholder="Password">
            </div>
            <div>
                <input class="form-control" formControlName="confirmPassword" type="password"
                    placeholder="Confirm Password">
                <small class="invalid-feedback d-block"
                    *ngIf="changePasswordForm.controls.confirmPassword.errors?.NotEqual">
                    Passsword should be same
                </small>
            </div>

        </div>
    </div>
    <div class="modal-footer pt-0">
        <button type="submit" (click)="updatePassword()" class="btn btn-secondary">Save</button>
    </div>
</div>